{% load static %}
<footer class="py-4">
    <div class="container">
        <div class="row">
            <!-- Primeira Div: Foto -->
            <div class="col-lg-4 col-md-12 text-center mb-3">
                <img src="{% static 'assets/imagens/logo.png' %}" alt="Logomarca Desire moda feminina" class="img-fluid rounded logo-footer">

            </div>
            <!-- Segunda Div: Institucional -->
            <div class="col-lg-4 col-md-12 mb-3 text-md-start text-center">
                <h5>Institucional</h5>
                <p><a href="#">Política de Pagamentos</a></p>
                <p><a href="#">Política de Privacidade</a></p>
                <p><a href="#">Quem Somos</a></p>
            </div>
            <!-- Terceira Div: Contato -->
            <div class="col-lg-4 col-md-12 mb-3 text-md-start text-center">
                <h5>Contato</h5>
                <p>
                    <a href="#"><i class="bi bi-telephone footer-icon"></i> (34) 99848-5681</a>
                </p>
                <p>
                    <a href="#"><i class="bi bi-instagram footer-icon"></i> @desiremodafeminina</a>
                </p>
                <p>
                    <i class="bi bi-truck footer-icon"></i> Endereço: Rua Avenida Joao Alves de Avila, 1345, Uberlandia/MG
                </p>
            </div>
        </div>
    </div>
</footer>
