{% extends 'desire_moda_feminina/base.html' %}
{% load static %}
{% block content %}
<style>
.card-body {
    background-color: #0e2b0d;
}
.card-title, .card-text {
    color: white;
}
.card_botao{
    border-radius: 50px;
    border: 2px solid #dcae51; 
    text-decoration: none; 
    color: white; 
}
.card_botao:hover {
    background-color: white;
    border: 4px solid #dcae51;
}
.card img {
    width: 100%;
    height: 200px; 
    object-fit: contain; 
    background-color: #f0f0f0; 
}


</style>

<h2  class="text-center fw-bolder p-5">Blusas Femininas</h2>
<section class="p-5">
    <div class="container mt-4">
        <div class="row">
            {% for blusa in blusas %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        {% if blusa.imagem %}
                            <img src="{{ blusa.imagem.url }}" class="card-img-top" alt="Imagem de {{ blusa.nome }}">
                        {% else %}
                            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Imagem não disponível">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ blusa.nome }}</h5>
                            <p class="card-text">Preço: {{ blusa.preco }}</p>
                            <a href="{% url 'detalhes_blusa' blusa.id %}" class="btn card_botao">Mais detalhes</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p class="text-center">Nenhum item disponível no momento.</p>
            {% endfor %}
        </div>
    </div>
</section>  
                      
{% endblock %}