{% extends 'desire_moda_feminina/base.html' %}
{% load static %}

{% block content %}
<style>
    label {
        font-weight: bold; 
        color: black; 
    }
</style>
<section>
    <div class="container mt-5">
        <h1 class="titulo_destaques">Cadastro de Usuário</h1>
        <form method="post" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn contact-button">Cadastrar</button>
        </form>
    </div>
</section>
<br><br><br>
{% endblock %}
